{% extends 'base.html.twig' %}

{% block title %} – Welcome{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <p>Welcome {{ name }}</p>
    <p>This is the web starter. Session status: {{ session }}</p>
{% endblock %}