<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Send requests to front controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
	Header always set X-XSS-Protection: "1; mode=block"
    Header always set x-Frame-Options: SAMEORIGIN
    Header always set X-Content-Type-Options: nosniff
    # Header always set Strict-Transport-Security: "max-age=31536000; includeSubDomains"
    # Header always set Content-Security-Policy: "default-src 'self'; font-src *;img-src * data:; script-src *; style-src *;"
    Header always set Referrer-Policy: strict-origin
</IfModule>